* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #e5e5e5;
}

#home {
  position: relative;
  background-image: url("/src/assets/images/Background.png");
  background-repeat: no-repeat;
  /* overflow: hidden; */
  
  background-size: 1680px 700px;
}

.navbar {
  height: 74px;
  left: 0%;
  right: -0.02%;
  overflow:hidden;
  top: 0px;
  min-width: 300px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.33);
}

.logo {
  margin-left: 20px;
}

.nav-link {
 
 

  border: 1px solid #324cdd;

  box-shadow: 0px 7px 14px rgba(50, 50, 93, 0.1),
    0px 3px 6px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* width: 80px; */
  margin-right: 50px;
}

.nav-item {
  height: 21px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  
}

.page-links {
  display: flex;
  gap: 50px;
  margin-left: 40%;
  
}

input {
  font-size: 50px;
  height: 60px;
}

.log-in {
  width: 100%;
}

.sign-up-containter {
  padding: 25px;
  min-width: 300px;
  margin: auto;
  margin-top: 5rem;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}


label {
  font-weight: 600;
}

/* Home styling */
h1 {
 
  left: 163px;
  top: 255px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  color: #ffffff;
}

.container {
  display: flex;
  justify-content: space-around;
}

.home-items {
  margin-top: 40px;
  padding: 20px;
  width: 300px;
  color: #525f7f;
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11),
    0px 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}



.inner-item {
  padding: 10px;
  margin-top: 50px;
  border-radius: 5px;
  width: 200px;
  height: fit-content;
  background: #ffffff;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  bottom: 70%;
  left: 70%;
  background: #ffffff;
  box-shadow: 0px 15px 35px rgba(50, 50, 93, 0.1),
    0px 5px 15px rgba(0, 0, 0, 0.07);
}

.inner-item:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 1px solid transparent;
  border-right: 26px solid #ffffff;
  border-bottom: 13px solid transparent;
}

.inner-container {
  margin-top: 100px;
}


@media only screen and (max-width: 1200px){
 
  .navbar {
    width: 100%;
    overflow: visible;
  }

  .login-btn {
    margin-left: -100px;
    
    
  }
  
  
  .page-links {
   margin-right: 100px;
   gap: 5px;
    margin-left: 0%;
   
  }
 
  .inner-item {
    left: 15%;
    bottom: 25%;
  }

  .home-items {
    margin-left: 70%;
  }

  h1 {
    margin-left: 70%;
    font-size: 20px;
    font-weight: 300;
    display: flex;
   
  }
}
@media only screen and (max-width: 600px){
/*Big smartphones [426px -> 600px]*/


#home {
  background: none;
}

.navbar {
  min-height: 200px;
}
.image {
  display: none;
}

.home-items {
  margin-left: 27%;
}

.h1 {
  margin-left: 0%;
  display: block;
}

.inner-item {
  display: none;
}

.login-btn {
 margin-left: 50px;
 margin-bottom: 100px;
 
 
  
}


.page-links {
  margin-bottom: 50px;
 gap: 5px;
  /* margin-left: 30%; */
}
}
